@import "../../app.scss";

.personal-container{
  
  background: linear-gradient(180deg, #0c0c1d, #111132);
  h1{
    text-align: center;
  color: rebeccapurple;
    margin-top: 10px;
  }


}
.personal {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  .card-container {
    display: flex;
    flex-direction: column; // Change to column layout
    align-items: center; // Center align items in column layout
    gap: 20px; // Adjust the gap between columns as needed
    width: auto;
    .left-column {
      width: 50%; // Ensure the left column takes full width
    }

    .right-column {
      width: 50%; // Ensure the right column takes full width
    }
  }

}

    .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }

// Media queries for responsiveness
@media screen and (min-width: 769px) {
  .personal {
    .card-container {
      flex-direction: row; // Change back to row layout for larger screens
    }
  }
}
